.row {
    margin: 0px !important;
}

[class*=col-] {
    padding: 0px !important;
}

@font-face {
    font-family: nevis;
    src: url('/assets/fonts/nevis.ttf');
}

.full-height {
    height: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.align-center {
    text-align: center !important;
}

.align-left {
    text-align: left !important;
}

.top-margin-10 {
    margin-top: 10px !important;
}

.top-margin-20 {
    margin-top: 20px !important;
}

.top-margin-50 {
    margin-top: 50px !important;
}