{% extends "base.html" %}

{% block Styles %}
<link href="/assets/css/home.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
<div class="content">
    <div class="row">
        <div class="col-md-12 medium-short-section section" style="background:url('/assets/img/smiling_cell_phone.png')">
            <div class="orange-overlay"></div>
            <div class="row copy-overlay">
                <div class="col-md-12">
                    <p class="section-1-title">Introducing WORD UP</p>
                    <p class="section-1-copy">We help people communicate better through<br>the lyrics and music they love</p>
                    <p class="section-1-black-copy">It’s time to..........<br> LET THE MUSIC SPEAK!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 medium-long-section section">
            <div>
                <p class="section-title-black">PUTTING THE RIGHT WORDS<br>INTO YOUR MOUTH</p>
            </div>
            <div class="row">
                <div class="col-xs-2"></div>
                <div id="section-2-carousel" class="col-xs-8 carousel slide full-height" data-interval="3000" data-pause="false">
                    <div class="carousel-inner full-height">
                        <div class="item active">
                            <div class="col-sm-6 relative white-phone">
                                <div class="relative auto-margin phone-container">
                                    <img src="/assets/img/phone_white.png" class="absolute white-phone-outline">
                                    <img src="/assets/img/screen_1.png" class="absolute white-phone-screen">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <p class="section-2-carousel-copy">Share your audio music message</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6 relative white-phone">
                                <div class="relative auto-margin phone-container">
                                    <img src="/assets/img/phone_white.png" class="absolute white-phone-outline">
                                    <img src="/assets/img/screen_2.png" class="absolute white-phone-screen">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <p class="section-2-carousel-copy">Simply type what<br>you want to see</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6 relative white-phone">
                                <div class="relative auto-margin phone-container">
                                    <img src="/assets/img/phone_white.png" class="absolute white-phone-outline">
                                    <img src="/assets/img/screen_3.png" class="absolute white-phone-screen">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <p class="section-2-carousel-copy">Select the song that<br>matches your words best</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6 relative white-phone">
                                <div class="relative auto-margin phone-container">
                                    <img src="/assets/img/phone_white.png" class="absolute white-phone-outline">
                                    <img src="/assets/img/screen_4.png" class="absolute white-phone-screen">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <p class="section-2-carousel-copy">Pick the exact lyrics<br>to convey your message</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6 relative white-phone">
                                <div class="relative auto-margin phone-container">
                                    <img src="/assets/img/phone_white.png" class="absolute white-phone-outline">
                                    <img src="/assets/img/screen_5.png" class="absolute white-phone-screen">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <p class="section-2-carousel-copy">Pick the exact lyrics<br>to convey your message</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6 relative white-phone">
                                <div class="relative auto-margin phone-container">
                                    <img src="/assets/img/phone_white.png" class="absolute white-phone-outline">
                                    <img src="/assets/img/screen_6.png" class="absolute white-phone-screen">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <p class="section-2-carousel-copy">Add photos<br>(optional)</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6 relative white-phone">
                                <div class="relative auto-margin phone-container">
                                    <img src="/assets/img/phone_white.png" class="absolute white-phone-outline">
                                    <img src="/assets/img/screen_7.png" class="absolute white-phone-screen">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <p class="section-2-carousel-copy">Add photos<br>(optional)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 long-section section" style="background:url('/assets/img/smiling_couple.png')">
            <div class="orange-overlay"></div>
            <div class="content-overlay">
                <p class="section-title-white">USERS CAN MAKE<br>THEIR MESSAGES MEMORABLE</p>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-5">
                        <div class="row">
                            <p class="section-3-copy align-center">We all aspire to have our messages<br>be “liked”, “remembered”, and even<br>better...“Responded To”.</p>
                        </div>
                        <div class="row">
                            <img src="/assets/img/social_message.png">
                        </div>
                        <div class="row">
                            <p class="section-3-copy align-center">Yet most of our messages<br>lack emotional connection</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="relative auto-margin phone-container">
                            <img src="/assets/img/phone_white.png" class="absolute white-phone-outline">
                            <img src="/assets/img/section_3_screen.png" class="absolute white-phone-screen">
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 section" style="background:url('/assets/img/bud_light.png')">
            <div class="white-overlay"></div>
            <div class="content-overlay">
                <p class="section-title-black">BRANDS CAN PARTICIPATE IN<br>CONSUMERS’ EMOTIONAL MOMENTS</p>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <img src="/assets/img/section_4_screen.png">
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <p class="section-4-copy align-left">Brands can significantly increase<br>their user engagement by<br>participating in moments that<br>matter to their consumers</p>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 medium-long-section section">
            <div class="orange-overlay"></div>
            <div class="content-overlay">
                <div class="row">
                    <div class="col-xs-5 col-xs-offset-1">
                        <p class="section-title-white align-left col-md-offset-2">TARGET MARKET</p>
                        <div class="">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-2">
                                    <div class="white-circle">
                                        <img class="constrain-50" src="/assets/img/phone_black.png">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p class="section-5-left-copy">1.75B Smartphone users</p>
                                </div>
                            </div>
                            <div class="row top-margin-20">
                                <div class="col-md-2"></div>
                                <div class="col-md-2">
                                    <div class="white-circle">
                                        <img class="constrain-50" src="/assets/img/messaging.png">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p class="section-5-left-copy">1 Trillion+ daily messages</p>
                                </div>
                            </div>
                            <div class="row top-margin-20">
                                <div class="col-md-2"></div>
                                <div class="col-md-2">
                                    <div class="white-circle">
                                        <img class="constrain-50" src="/assets/img/photo_sharing.png">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p class="section-5-left-copy">Music,Photo and Social platforms</p>
                                </div>
                            </div>
                            <div class="row top-margin-20">
                                <div class="col-md-2"></div>
                                <div class="col-md-2">
                                    <div class="white-circle">
                                        <img class="constrain-50" src="/assets/img/brand.png">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p class="section-5-left-copy">Consumer brands</p>
                                </div>
                            </div>
                            <div class="row top-margin-20">
                                <div class="col-md-2"></div>
                                <div class="col-md-2">
                                    <div class="white-circle">
                                        <img class="constrain-50" src="/assets/img/music_record.png">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p class="section-5-left-copy">Record labels and artists</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <p class="section-title-white align-left">GO TO MARKET<br>BUSINESS MODEL</p>
                        <div class="">
                            <div class="row top-margin-50">
                                <p class="section-5-right-title">Primary Offerings</p>
                                <p class="section-5-right-copy">1. Licensed API Platform</p>
                                <p class="section-5-right-copy">2. Freemium Consumer App</p>
                            </div>
                            <div class="row top-margin-50">
                                <p class="section-5-right-title">Distribution Channels</p>
                                <p class="section-5-right-copy">1. App platforms with established social reach</p>
                                <p class="section-5-right-copy">2. Consumer brands</p>
                                <p class="section-5-right-copy">3. Consumer direct via app store</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 medium-short-section section">
            <p class="section-title-black">TEAM AND CURRENT STATUS</p>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <p class="section-6-title">CEO - Bart Glass</p>
                    <p class="section-6-copy">Managing Partner, Accenture Global<br>EVP & Board Director, Gift Card Impressions</p>
                    <p class="section-6-title">COO - David Rossette</p>
                    <p class="section-6-copy">Founder, Chairman, LeaseNet Inc. ($100M exit)<br>Founding member, Ohio Tech Angel Fund</p>
                    <p class="section-6-title">CTO - Chad Kouse</p>
                    <p class="section-6-copy">Founder and CTO, TuneWiki (acquired)<br>13+ years experience in leading software teams</p>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row top-margin-20">
                <div class="col-xs-4"></div>
                <div class="col-xs-4 section-6-graph-scale">
                    <span class="col-xs-6 align-center">Q1</span>
                    <span class="col-xs-6 align-center">Q2</span>
                </div>
                <div class="col-xs-4"></div>
            </div>
            <div class="row top-margin-10">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <span class="col-xs-10 align-center section-6-graph-bar">Raising $2M Launch Investment</span>
                </div>
                <div class="col-xs-4"></div>
            </div>
            <div class="row top-margin-10">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <span class="col-xs-9 align-center section-6-graph-bar">Positioning strategic launch partners</span>
                </div>
                <div class="col-xs-4"></div>
            </div>
            <div class="row top-margin-10">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <span class="col-xs-12 align-center section-6-graph-bar">Product Launch</span>
                </div>
                <div class="col-xs-4"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block Scripts %}
<script src="/assets/js/home.js"></script>
{% endblock %}