{% extends "base.html" %}

{% block Styles %}
<link href="/assets/css/home.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
<div class="content">
    <div class="row">
        <div class="col-md-12 section" style="background:url('/assets/img/smiling_cell_phone.png')">
            <div class="orange-overlay"></div>
            <div class="copy-overlay">
                <p class="section-1-title">Introducing WORD UP</p>
                <p class="section-1-copy">We help people communicate better through the lyrics and music they love</p>
                <p class="section-1-black-copy">It’s time to..........<br> LET THE MUSIC SPEAK!</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 section">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 section" style="background:url('/assets/img/smiling_couple.png')">
            <div class="orange-overlay"></div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 section" style="background:url('/assets/img/bud_light.png')">
            <div class="white-overlay"></div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 section">
            <div class="orange-overlay"></div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 section">

        </div>
    </div>
</div>
{% endblock %}

{% block Scripts %}
<script src="/assets/js/home.js"></script>
{% endblock %}